<h2 id="angular-morris-chart-build-status-https-travis-ci-org-stewones-angular-morris-chart-svg-https-travis-ci-org-stewones-angular-morris-chart-">angular-morris-chart <a href="https://travis-ci.org/stewones/angular-morris-chart"><img src="https://travis-ci.org/stewones/angular-morris-chart.svg" alt="Build Status"></a></h2>
<p>A module with directives to easy use of <a href="http://morrisjs.github.io/morris.js/">morris</a> with angular </p>
<h2 id="installation">Installation</h2>
<p>Install <code>angular-morris-chart</code> through</p>
<h4 id="bower">Bower</h4>
<pre><code>$ bower install angular-morris-chart --save
</code></pre><h4 id="npm">Npm</h4>
<pre><code>$ npm install angular-morris-chart --save
</code></pre><h4 id="download">Download</h4>
<p><a href="https://raw.githubusercontent.com/stewones/angular-morris-chart/master/src/angular-morris-chart.min.js">From master branch</a></p>
<h4 id="cdn">CDN</h4>
<p>Minified version:
<a href="https://cdnjs.cloudflare.com/ajax/libs/angular-morris-chart/1.2.0/angular-morris-chart.min.js">https://cdnjs.cloudflare.com/ajax/libs/angular-morris-chart/1.2.0/angular-morris-chart.min.js</a></p>
<p>Full version:
<a href="https://cdnjs.cloudflare.com/ajax/libs/angular-morris-chart/1.2.0/angular-morris-chart.js">https://cdnjs.cloudflare.com/ajax/libs/angular-morris-chart/1.2.0/angular-morris-chart.js</a></p>
<p><br />
Then add <code>angular.morris-chart</code> as a module dependency for your angular app</p>
<pre><code class="lang-js">angular.module(&#39;my.app&#39;, [
    &#39;angular.morris-chart&#39;
])
</code></pre>
<h2 id="usage">Usage</h2>
<p>There are four directives based on <code>morris.js</code></p>
<ul>
<li><code>bar-chart</code></li>
<li><code>line-chart</code></li>
<li><code>donut-chart</code></li>
<li><code>area-chart</code></li>
</ul>
<p>Checkout <a href="https://angular-morris-chart.stpa.co">documentation</a> for live examples</p>
<hr>
<p><strong>Notes:</strong></p>
<ul>
<li>To contribute just read <a href="https://github.com/stewones/angular-morris-chart/blob/master/CONTRIBUTING.md">this file</a> before</li>
<li>Verify the changes in <a href="https://github.com/stewones/angular-morris-chart/releases">changelog</a></li>
</ul>
<h2 id="contributors">Contributors</h2>
<table>
<thead>
<tr>
<th style="text-align:center"><a href="https://github.com/stewones"><img alt="stewones" src="https://avatars.githubusercontent.com/u/719763?v=3&s=117" width="117"></a></th>
<th style="text-align:center"><a href="https://github.com/venkatramachandran"><img alt="venkatramachandran" src="https://avatars.githubusercontent.com/u/4744258?v=3&s=117" width="117"></a></th>
<th style="text-align:center"><a href="https://github.com/rolaveric"><img alt="rolaveric" src="https://avatars.githubusercontent.com/u/960670?v=3&s=117" width="117"></a></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center"><a href="https://github.com/stewones">stewones</a></td>
<td style="text-align:center"><a href="https://github.com/venkatramachandran">venkatramachandran</a></td>
<td style="text-align:center"><a href="https://github.com/rolaveric">rolaveric</a></td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="license">License</h2>
<p><code>angular-morris-chart</code> is open-sourced software licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>, maintained by <a href="https://github.com/stewones">@stewones</a>. Feel free to open an issue or make a PR.</p>
